@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Fira+Code:wght@400;500;600&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800&family=Play&family=Montserrat:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    min-height: 100vh;
    position: relative;
    /* background-color: #212224; */
    /* color: aliceblue; */
  }
  @font-face {
    
    font-display: swap;
  }
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}
