@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Fira+Code:wght@400;500;600&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "baloo 2", "Noto Sans Bengali", system-ui, sans-serif;
  }
  body {
    min-height: 100vh;
    position: relative;
    background-color: #151515;
  }
  body::after {
    margin-top: 2rem;
    content: "";
    display: block;
    height: 6rem; /* Set same as footer's height */
  }
  .font-fira {
    font-family: "Fira Code";
  }
  /* text colors */
  .black {
    color: #3a3a3a;
  }
  .green {
    color: #34a853;
  }
  .white {
    color: #d7d7d7;
  }
  .orange {
    color: #fbbc04;
  }
  /* bg colors */
  .bg-green {
    background-color: #34a853;
  }
  .bg-card {
    /* background-color: #242424; */
  }
  .bg-badge {
    background-color: #3a3a3a;
  }
  .bg-orange {
    background-color: #fbbc04;
  }
  .bg-postCard {
    background: #353535;
  }
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
/* Link:focus, a:focus {
  outline: none !important;
} */
